.root {
    -fx-background-color: #aaaa;
    -fx-font-family: "Poppins";
}

.welcome-pane {
    -fx-padding: 40px;
}

.title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #1e3a8a;
}

.subtitle {
    -fx-font-size: 18px;
    -fx-text-fill: #4b5563;
}

.primary-btn {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-radius: 10px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
    -fx-font-weight: bold;
}

.primary-btn:hover {
    -fx-background-color: #1e40af;
}
